@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Lato&display=swap');

body {
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f3f3;
    display: grid;
    place-items: center;
    height: 100vh;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2.5rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

li {
    padding: 1rem 2rem;
    background-color: #fefefe;
    border-radius: 6px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem;
}